/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/
:root {
  --font-serif-main: 'YoungSerif-Regular';
  --font-sans-main: 'Outfit';
  --color-bg-main: hsl(30, 54%, 90%);       /* Eggshell */
  --color-white:white;
  --color-border: hsl(30, 18%, 87%);        /* Light Grey */
  --color-accent: hsl(14, 45%, 36%);        /* Nutmeg */
  --color-purple: hsl(332, 51%, 32%);       /* Dark Raspberry */
  --color-dark: hsl(24, 5%, 18%);           /* Dark Charcoal */
  --color-grey: hsl(30, 10%, 34%);          /* Wenge Brown */
  --radius: 10px;
  --fs-small: 11px;
}

@font-face {
  font-family: 'YoungSerif-Regular';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */
body {
  background-color: var(--color-bg-main);
  font-family: var(--font-sans-main);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

span {
  color: var(--color-grey);
}

/* LIST ITEMS */
li {
  font-size: var(--fs-small);
  padding: 3px 7px;
}

/* UTILITIES */
.radius {
  border-radius: var(--radius);
}

.grey {
  color: var(--color-grey);
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
  padding: 15px 0;
}

/* LAYOUT */
.container {
  background-color: var(--color-white);
  width: 510px;
  margin: 80px auto;
  padding: 20px 20px 15px;
  border-radius: var(--radius);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

/* TITLES & TEXT */
.header {
  font-weight: 600;
  margin: 20px 0 8px;
  color: var(--color-dark);
  font-family: var(--font-serif-main);
}

.section-title {
  font-family: var(--font-serif-main);
  color: var(--color-accent);
  margin: 7px 0 14px;
  font-weight: normal;
}

.description {
  font-size: var(--fs-small);
  margin-bottom: 5px;
  color: var(--color-grey);
}

/* PREP TIME */
.prep-time {
  background-color: #faf2fa; /* If needed, make a new variable */
  padding: 15px 0;
  margin-top: 15px;
}

.prep-time h5 {
  color: var(--color-purple);
  padding: 0px 20px 5px;
  margin: 0;
  font-size: 13px;
}

/* INGREDIENTS */
.ingredients-section {
  padding-top: 15px;
}

.remove-padding {
  padding: 0px 20px;
}

/* NUTRITION TABLE */
.table-section {
  margin-top: 15px;
}

.table-section p {
  margin-top: 10px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-small);
}

.nutrition-table th,
.nutrition-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--color-border);
  font-weight: normal;
}

.nutrition-table tr:last-child th,
.nutrition-table tr:last-child td {
  border-bottom: none;
}

.nutrition-table td {
  font-weight: bold;
  color: var(--color-accent);
}

/* RESPONSIVE */
@media (max-width: 550px) {
  .container {
    width: 92%;
    padding: 15px;
  }
}



/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }